@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: #f5f5f5;
}

body {
    background: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 150px;
}

.logo {
    float: left;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    cursor: pointer;
}

nav {
    margin-top: 20px;
    float: right;
    display: flex;
    width: 1000px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f5f5f5;
    margin-right: 100px;
}

.navmid {
    width: 70%;
    margin-right: 95px;
}

.nav-item {
    cursor: pointer;
    margin-right: 72px;
}

.navend {
    display: flex;
    font-size: 12px;
}

.navend>img {
    height: 25px;
    margin-right: 20px;
    margin-top: 7px;
    cursor: pointer;
}

.leftSection {
    float: left;
    height: 300px;
    margin-left: 150px;
    margin-top: 100px;
    width: 700px;
}

.heading {
    font-size: 35px;
    width: 700px;
    line-height: 250%;
}

.buttonLg {
    background-color: transparent;
    border: 3px solid white;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.buttonLg:hover {
    color: #24275d;
    border: 3px solid #24275d;
    transition: border 1000ms ease-out;
    transition: color 500ms ease-out;
}

.rightSection {
    float: right;
    width: 400px;
    height: 500px;
    margin-right: 100px;
    position: relative;
}

.puzzle {
    position: absolute;
    top: 40px;
    left: 90px;
    width: 275px;
    height: 150px;
    z-index: 1;
}

.puzzle::after {
    content: "";
    width: 275px;
    background-color: #fff;
    height: 150px;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.25;
    z-index: -1;
}

.puzzle::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 0.5px;
    top: 150px;
    left: 200px;
    background-color: #fff;
}

.puzzleimg>img {
    width: 40px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.puzzle>h3 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
}

.puzzle>h3::after {
    content: "";
    position: absolute;
    top: 220px;
    left: 193.5px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
}

.bulb {
    position: absolute;
    top: 300px;
    left: -280px;
    width: 275px;
    height: 180px;
}

.bulb::after {
    content: "";
    background-color: #fff;
    width: 275px;
    height: 180px;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.25;
    z-index: -1;
}

.bulb::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 0.5px;
    top: 50px;
    right: -70px;
    background-color: #fff;
}

.bulbimg>img {
    width: 40px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.bulb>h3 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
}

.bulb>h3::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    top: 44px;
    right: -80px;
}


/* for desktop apps */

@media (max-width:1360px) {
    nav {
        width: 60%;
    }

    .navmid {
        flex-wrap: wrap;
    }

    .rightSection {
        float: left;
        margin-left: 400px;
    }

}

/* for tablet apps */

@media (max-width:900px) {
    nav {
        float: right;
        width: 50%;
        flex-wrap: wrap;
    }

    .heading {
        font-size: 35px;
        width: 500px;
        display: block;
    }

    .leftSection {
        display: block;
        width: 70%;
        margin-bottom: 200px;
        float: left;
        margin-left: 100px;
    }

    .button button {
        font-size: 15px;
    }
}

/* for mobile apps */

@media (max-width:760px) {
    nav {
        float: right;
        width: 30%;
    }

    .heading {
        font-size: 25px;
        width: 400px;
    }

    .rightSection {
        width: 40%;
    }
}